/*
 * In this file, you may style your site using CSS or LESS as well as overwrite UIkit LESS variables.
 * Make sure to enable development mode via the Admin->Appearance->Settings option while working on your website. LESS will then be processed on the fly.
 */
html {
    font-family: "Helvetica", sans-serif;
}

.tm-main {
    background-color: white;
}

.doms{

    padding: 10px;

    div{
        border: 1px solid #f00;
    }

    h2 {
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    p {
        color: rgb(129, 129, 129);
        font-size: 1.2rem;
        line-height: 1.8;
        font-weight: 300;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: black;
        max-width: 480px;
        max-height: 480px;
    }
}

.uk-container{
    min-width:960px;
}